.header-content {
    height: 65px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 7px;
    justify-content: space-around;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.header-open-sidenav-button-content {
    width: 50px;
    height: 100%;
    border-right: 1px solid;
    border-color: var(--dimas-gray);
}

.sitemap {
    width: calc(50% - 50px);
    display: flex;
    height: 100%;
}

.sitemap-content{
    margin-left: 15px;
}

.header-user-content {
    width: auto;
    display: flex;
    padding: 0!important;
    height: 100%;
}

.header-user-information-content {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.user-photo {
    border-radius: 100%;
    height: 45px;
    width: 45px;
}

.user-photo img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.user-name-content {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--dimas-light-black);
}

.header-arrow-down {
    font-size: 16px;
}

.header-search-content {
    width: 20%;
    height: 100%;
}

.header-location-name {
    font-weight: bold;
    margin-left: 10px;
}

/* --- Autocomplete ---*/

.search-container {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    display: flex;
}

.header-autocomplete-input {
    width: 80%;
}

/* --- End Autocomplete ---*/

/*---Media Queries---*/

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .sitemap-content div{
        font-size: 0.8em;
    }
    .user-name-content{
        font-size: 0.9em;
    }
    .gol-abear{
        display: none;
    }
    .footer-social-icons{
        width: 50%;
    }
    .footer-social-icons img{   
        width: 25px;
    }
    .dimas-phrase{
        width: 15%;
    }
    .dimas-phrase-text{
        display: none;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .sitemap{
        display: none;
    }
    .header-open-sidenav-button-content{
        width: 15%;
    }
    .header-user-information-content{
        width: 85%;
        display: flex;
        justify-content: space-around;
    }
    .header-search-content{
        width: auto;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .sitemap-content div{
        font-size: 0.8em;
    }
    .user-name-content{
        font-size: 0.9em;
    }
}

/*---End Media Queries---*/



