<div class="header-content vertically-centralized">
    <div class="header-container" *ngIf="!searchBarOpened">
        <div class="header-open-sidenav-button-content fully-centralized">
            <button mat-icon-button (click)="toggleSideNav()">
                <i class="material-icons">menu</i>
            </button>
        </div>

        <div class="sitemap vertically-centralized">
            <div class="sitemap-content flex">
                <div>Você está aqui:</div>
                <div class="header-location-name">Dashboard</div>
            </div>
        </div>
        <div class="header-user-information-content vertically-centralized">
            <button mat-button [matMenuTriggerFor]="appMenu" class="header-user-content fully-centralized">
                <div class="user-photo">
                    <img src="https://img.discogs.com/SLLPFJ_vMX9ZrhktQjO_nS_-iqg=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-110593-1449578430-6807.jpeg.jpg">
                </div>
                <div class="user-name-content">
                    <div>Jimmy Hendrix</div>
                </div>
                <i class="material-icons header-arrow-down">keyboard_arrow_down</i>
            </button>
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item> Settings </button>
                <button mat-menu-item> Help </button>
            </mat-menu>
            <div class="header-search-content fully-centralized">
                <button mat-icon-button class="search-icon-container" (click)="toggleSearchBar(true)">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </div>
    </div>

    <!-- Search bar opened -->
    <!-- <div class="search-container vertically-centralized" *ngIf="searchBarOpened">
        <mat-form-field class="header-autocomplete-input">
            <input matInput placeholder="Procurar" aria-label="procurar" [matAutocomplete]="auto" [formControl]="stateCtrl">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                    <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
                    <span>{{ state.name }}</span> |
                    <small>Population: {{state.population}}</small>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-icon-button class="search-icon-container" (click)="toggleSearchBar(false)">
            <i class="material-icons">close</i>
        </button>
    </div> -->
</div>