<div class="col-md-4">
    <div class="header-container">
        <div class="navigation-button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            < 
        </div>
            <div class="today-description">
                {{ viewDate | calendarDate:(view + 'ViewTitle'):'pt':'MMMM' }}
            </div>
            <div class="navigation-button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                >
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3 style="text-transform: capitalize;"></h3>
    </div>
    <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" [refresh]="refresh"></mwl-calendar-month-view>

    <div class="new-event-container" *ngIf="newEventOpen">
        <div class="new-event-date-infos">
            <label class="new-event-description">Inserir novo evento</label>
            <div>
                <input [matDatepicker]="myDatepicker" [value]="date.value" [(ngModel)]="date.value">
                <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            </div>
            <mat-datepicker #myDatepicker></mat-datepicker>
            <input class="new-event-time-picker" type="time" [value]="date.value" (change)="hour=$event.target.value"/>
        </div>
        <mat-form-field>
            <mat-select placeholder="Tipo do evento" [(value)]="selectedType">
                <mat-option *ngFor="let type of eventTypes" [value]="type.value">
                    {{ type.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="new-event-save-button" (click)="saveEvent()">Salvar</div>
    </div>
    <div class="new-event-add-button" (click)="newEventOpen = !newEventOpen"> + </div>
    