.login-container {
    width: 100%;
    height: 100%;
}

/*---Login Left Side---*/

.login-left-side {
    width: 70%;
    height: 100%;
    background-image: url("/../assets/img/background-login.jpg");
    image-rendering: optimizeQuality;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*---End Login Left Side---*/

/*---Login Right Side---*/

.login-right-side {
    width: 30%;
    height: 100%;
}

.login-account-label-content {
    width: 100%;
    height: 20%;
}

.login-account-label-content label {
    font-size: 1.4em;
}

.login-account-form-content {
    height: 80%;
}

.login-account-form-container {
    width: 85%;
    height: 40%
}

.remember-me-content {
    width: 100%;
    justify-content: space-around;
}

.social-login-container {
    height: 55%;
    width: 85%;
    justify-content: space-around;
}

.login-button {
    width: 100%;
    background-color: var(--background-login-button);
}

.login-button-google {
    color: white;
    width: 85%;
    background-color: var(--google-color);
}

.login-button-facebook {
    color: white;
    width: 85%;
    background-color: var(--facebook-color);
}

.login-account-label {
    color: var(--facebook-color);
    cursor: pointer;
}

/*---End Login Right Side---*/