<ng-container>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav opened="true">
            <div class="sidenav-header vertically-centralized">
                <div class="sidenav-logo-and-name" style="padding: 0 16px;">
                    <div class="sidenav-logo-content">
                        <img src="../../assets/img/sidenav-logo.png">
                    </div>
                    <div class="sidenav-dimas vertically-centralized">
                        São-Dimas
                    </div>
                </div>
                <button mat-icon-button (click)="toggleSidenav()">
                    <i class="material-icons sidenav-close-button">arrow_back</i>
                </button>
            </div>
            <div class="sidenav-body">
                <mat-list class="sidenav-options">
                    <div mat-subheader class="sidemenu-subheader">APLICAÇÕES</div>
                    <mat-list-item (click)="redirect('events')">
                        <i class="material-icons">today</i>
                        <label>Eventos</label>
                    </mat-list-item>

                    <mat-list-item (click)="redirect('prayers')">
                            <i class="material-icons">add_alert</i>
                            <label>Orações</label>
                        </mat-list-item>

                    <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header class="sidenav-expansive-list">
                            <mat-panel-title>
                                <i class="material-icons">person_outline</i>
                                Dados pessoais
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-list>
                            <mat-list-item>Test1</mat-list-item>
                            <mat-list-item>Test2</mat-list-item>
                            <mat-list-item>Test3</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>

                    <div mat-subheader class="sidemenu-subheader">OUTRA SEÇÃO</div>
                    <mat-list-item>
                        <i class="material-icons">today</i>
                        <label>Calendário</label>
                    </mat-list-item>

                    <mat-list-item>
                        <i class="material-icons">chat</i>
                        <label>Chat</label>
                    </mat-list-item>

                    <mat-list-item>
                        <i class="material-icons">people</i>
                        <label>Contatos</label>
                    </mat-list-item>

                    <mat-list-item>
                        <i class="material-icons">exit_to_app</i>
                        <label>Logout</label>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <app-header></app-header>
            <div class="main-content">
                <div class="main-container">
                    <router-outlet name="main">
                    </router-outlet>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>