.sidenav-header {
    height: 65px;
    background-color: var(--dimas-black-top-sidenav)
}

.sidenav-logo-content {
    width: 43px;
    height: 43px;
    border-radius: 45px;
    background-color: #FF5B05;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav-logo-and-name {
    width: 80%;
    display: flex;
    padding: 0 16px;
}

.sidenav-logo-content img {
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.sidenav-dimas {
    color: white;
    font-size: 1.3em;
    font-weight: 100;
    margin-left: 20px;
}

.sidenav-close-button {
    color: white;
    font-size: 1.3em;
}

.sidenav-options mat-list-item {
    width: 100%;
    color: white;
    padding: 0;
}

mat-list-item:hover {
    cursor: pointer;
    background-color: #313131!important;
}

mat-list-item label:hover {
    cursor: pointer;
}

.sidemenu-subheader {
    font-size: 0.8em;
    color: var(--dimas-dark-gray);
}

.sidenav-expansive-list {
    padding: 0 16px!important;
}

.sidenav-expansive-list mat-panel-title {
    font-weight: 100;
    color: white!important;
}

.sidenav-expansive-list i {
    color: white;
    margin-right: 20px;
}

.sidenav-options label {
    font-size: 0.9em;
    margin: 0;
    margin-left: 20px;
}

.sidenav-body {
    color: white;
    height: calc(100% - 65px);
    font-weight: 100;
    background-color: var(--dimas-light-black);
    overflow-y: auto;
}