
@{
    ViewBag.Title = "Historia";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

<div class="inner-article">

    <header class="top-page">
        <div class="inner-header">
            <div class="row">
                <div class="row-md-height">
                    <div class="col-lg-16 col-md-14 col-md-height col-md-middle">
                        <h2 itemprop="name headline" class="cor1">História</h2>
                    </div>
                </div>
            </div>
        </div> <!-- .inner-header -->

    </header>					<div class="entry-text">


        <p>A história da nossa Paróquia deu os primeiros passos em 1968. Inicialmente era assistida pela paróquia São Paulo da Cruz.</p>
        <p>Em 1970 chegou ao bairro uma equipe de Frades Franciscanos, Freis Basílio, Antonio do Prado, Eduardo Metz e Francisco Duarte. A região na época estava em crescimento. Lutaram muito no trabalho cristão e nas atividades sociais, celebrando nas praças, nas casas e escolas, formaram círculos bíblicos e fomentaram bastante as devoções populares, evangelizando sempre e sempre mais.</p>
        <p>A Paróquia São Dimas, (inicialmente sem o nome do padroeiro, pois ele seria votado posteriormente pelo povo) foi criada por Dom João Resende Costa, em 07/02/70 desmembrando-a assim, da Paróquia São Paulo da Cruz. As missas e demais sacramentos eram celebrados nas casas, sede do conselho comunitário e nas ruas do bairro. As dificuldades na região eram muitas: no transporte, na educação, no saneamento, e na saúde. Os frades franciscanos empenharam-se totalmente nas lutas populares juntamente com as comunidades, para conquistarem melhorias para todo o bairro.</p>
        <p>Com a construção do salão paroquial em 1971, as celebrações, cultos, sacramentos passaram a ser realizados no mesmo, incluindo as atividades sociais. Dentre elas a implementação do jardim de infância Miguilim.</p>
        <p>Os anos foram passando e na década de 70 outros freis vieram somar e dar sua contribuição a este projeto novo de inserção: Frei Klaus, Frei Toninho, Frei Dario, Frei Cristóvão.</p>
        <p>Ao final da década de 80, Frei Luiz Fernando, Frei Francisco Prick, frei Hipólito e frei Feliciano deram continuidade a esta caminhada juntamente com o pároco frei Antônio do Prado. Trabalharam muito também nos bairros: Santa Cecília, Independência, Mineirão e Parque Elizabeth, formando novas comunidades franciscanas com o dinamismo que lhes são próprio.</p>
        <p>Com o objetivo de facilitar a evangelização, a paróquia foi dividida em três setores: Santa Cecília, Independência e Vale do Jatobá. Mais tarde, em 1989 os setores Santa Cecília e Mineirão se tornaram casas de formação Teológica,vindo de Petrópolis os estudantes franciscanos que estariam fazendo uma nova experiência de pequenas comunidades nos meios populares, sendo   o responsável pela equipe Frei Eduardo e frei Célio.</p>
        <p>Posteriormente também, morando em Santa Cecília, lembramos de Frei Jacir de Freitas, que trouxe o Curso de Teologia para Leigos a toda a Paróquia, com duração de 2 ou 3 anos, formando várias turmas e dando-nos uma excelente base de estudo Bíblico – teológico solidificando a nossa  formação cristã.</p>
        <p>Em 1986 deu-se inicio a construção da matriz, na área do estacionamento ao lado do Salão. Numa noite de quarta-feira por volta das 22:00 horas, uma fortíssima tempestade abalou as estruturas da igreja   no ano  1991, desabando as paredes laterais antes mesmo de serem concluídas. Motivados pela fé em Deus, com a união da comunidade, Frei Antonio e os freis junto com a equipe de promoções, com o engenheiro Dr. Roni, foi pensado um novo projeto e uma nova construção iniciada na parte superior deste terreno e graças a Deus sua inauguração aconteceu dois anos depois  em 1993.</p>
        <p>Ao longo de todos estes anos, ao longo das  décadas, muitos outros freis vieram sem morar no bairro, contribuir com sua presença franciscana; celebrar conosco a Eucaristia, ministrar cursos de formação, participar das memoráveis celebrações da semana santa e enfim contribuindo sempre com o crescimento espiritual das comunidades.</p>
        <p>Outro ponto importantíssimo na vida da Província de santa Cruz, foram as profissões, as profissões simples e as profissões solenes, e várias ordenações sacerdotais que muito honraram a Paróquia de São Dimas.</p>
        <p>Nesse tempo, bairros foram crescendo muito e a população se tornou numerosa, e chegou o momento de dividir a grande Paróquia São Dimas, tão franciscanamente formada ao longo das décadas. O primeiro bairro a se desvincular foi o Parque Elizabeth, se integrando a paróquia Nossa Senhora das Graças em Ibirité. Em 1994 foi criada a Paróquia Santa Clara e São Francisco , no bairro Independência. Em 2000 nasce a Paróquia Maria Estrela da Evangelização nos bairros: Santa Cecília, Castanheira, Vila Pinho, Jatobá IV e adjacências. Muitos paroquianos destas duas novas Paróquias lembram com carinho e saudades dos tempos em que os franciscanos trabalharam em suas comunidades, realçando o carisma que deixou muitas lembranças a todas estas queridas Paróquias vizinhas de São Dimas.</p>
        <p>Atualmente, a nossa  Paróquia é composta por cinco comunidades: Sagrado Coração de Maria, Nossa Senhora Aparecida, Santo Antônio e São Francisco e Santa Clara.</p>
        <p>Durante essas mudanças permanecemos com a presença de frei Antônio do Prado até o ano de 2004, que consumido pela doença precisou ser afastado, para o convento em Divinópolis, uma acolhedora e estruturada comunidade para atender estes momentos de grande limitação do ser humano, viveu aproximadamente dói anos lá, vindo a falecer no ano de 2006. Neste período já estava conosco na paróquia frei Renato, que ordenado sacerdote assumiu como pároco e juntamente com frei Berardo vigário paroquial, conduziram a nossa paróquia durante três anos. Ambos trouxeram uma vitalidade excelente para as pastorais. Ambos derramaram em toda Paróquia um novo alento em um novo tempo. Frei Eron Cerrato, e frei José Messias passaram por aqui também, compondo esta fraternidade até o final de 2006.</p>
        <p>Tivemos a presença também dos freis: Frei Flávio e Frei Dari que trabalharam nas comunidades, trazendo um novo jeito franciscano de ser, motivando formações litúrgicas e teológicas, criação de novas pastorais e motivaram animarão e novas lideranças. Estiveram na Paróquia de dezembro de 2006 a dezembro de 2009. Neste triênio a presença de Frei Marco Túlio, Frei Donizete, Frei Marcelo foram rápidas, mas marcantes e muito agradável às comunidades paroquiais, motivando os cursos de crisma, catequese e celebrações.</p>
        <p>Então, caros irmãos..., nestes últimos anos  temos a alegria de estar convivendo com a presença alegre, festiva e motivadora de frei José Roberto, de frei Eliseu e frei Edivaldo, que com dinamismo franciscano se dedicam cuidadosamente à Paróquia São Dimas, dando um novo rosto, uma nova alma, uma nova vida e um novo olhar. Trouxeram um entusiasmo contagiante e uma devoção rica e amorosa à Nossa Senhora, a tal ponto que  realizaram com carinho o sonho de frei Antônio: a construção da gruta, cujo nome de Nossa Senhora Aparecida foi escolhido pelas comunidades. Eles reforçam a cada dia em suas celebrações, o amor, o perdão e a convivência de irmãos, ressaltam a atenção que devemos ter com Nossa Senhora, cuja ORDEM FRANCISCANA tem um especial carinho.</p>
        <p>A vinda dos freis: José Roberto, Eliseu e Frei Edivaldo enriqueceram ainda mais a história da Paróquia São Dimas cuja evangelização passa pela atenção especial aos enfermos, a formação da juventude e pela catequese cristã.  Animados e presentes em todos os momentos forte das comunidades, são incansáveis no cumprimento de seus deveres, de sua missão. Modificaram para melhor as estruturas físicas das comunidades, melhorando aspectos importantes que deu mais conforto aos paroquianos. A vinda deles foi uma providência Divina, uma bênção de Deus, durante os anos de 2010 a 2012 !</p>
        <p>Portanto, colocamos todos no coração de Deus, pois lá ninguém é esquecido. Agradecemos à Província de Santa Cruz por terem escolhido esta região do Barreiro, onde aprendemos muito de Jesus, nos passos da espiritualidade franciscana.</p>
        <p>Durante estas décadas, da presença franciscana na paróquia, muito foi feito, muito foi motivado, ficam as marcas de São Francisco de Assis que acolhe, participa, motiva a amar o Amor que não é amado... Permanece as amizades que se formaram ao longo desse curto período de 42 anos e que desejaríamos que perdurasse por mais 100 anos... Mas sabemos que Deus há de iluminar, abençoar e conduzir  esta nova realidade que desponta para nós neste ano novo que se aproxima.</p>
        <p>FREIS, IRMÃOS, FRADES, AMIGOS SIGAM COM FÉ E ESTAREMOS UNIDOS PELA MESMA GRANDE ORAÇÃO DE LOUVOR AO PAI.</p>
        <p>Presença viva de Deus em nossa vida de comunidade.</p>
        <p>Em Louvor de Cristo,      AMÉM !</p>
    </div> <!-- .entry-text -->
</div>

