.close-dialog-button{
    position: absolute;
    width: 30vw;
    height: 11vh;
    display: flex;
    justify-content: flex-end;
}
.close-dialog-button button{
    background-color: white;
    width: 54px; 
    margin-top: -16px;
    margin-right: -16px;
}
.close-dialog-button md-icon{
    color: var(--linfit-blue);
}
.goals-dialog-container{
    height: 100%;
}
.goals-dialog-header{
    width: 100%;
    height: 20%;
    background-color: var(--linfit-blue);
}
.goals-dialog-header label{
    color: rgb(255, 255, 255);
    font-size: 1.6em;

}
.dialog-header-image-container{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 3vh;
    width: 7vw;
    height: 13vh;
    border-radius: 100%;
    border: 2px solid var(--linfit-yellow);
    background-color: white;
}
.dialog-header-image-container img{
    width: 60%;
}
.mat-dialog-content{
    padding:0!important;
    overflow: hidden!important;
}
.container-description{
    width: 80%;    
}
.dialog-inputs{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
}
.input-legend-content{
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--linfit-blue);
}
.input-legend-content label{
    color: var(--linfit-gray);
}
.input-legend{
    width: 60px;
    height: 60px;
    border: 1px;
    background-color: var(--linfit-blue);
    border-radius: 60px;
    margin-right: 15px;
}
.input-legend img{
    width: 50%;
}
.goals-dialog-body{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}
.goals-dialog-body-container{
    height: 60%;
}
.goals-dialog-body-content{
    width: 100%;
}
.goals-dialog-body md-icon{
    margin-right: 15px;
}
.container-date button{
    margin-right: 15px;
}
.goals-dialog-footer{
    display: flex;
    width: 100%;
    margin-top: 7%;
    justify-content: flex-end;
}
.goals-dialog-footer label{
    font-size: 0.9em;
}

.goal-button{
    width: 30%;
    font-size: 1.2em;
    color: var(--linfit-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.goal-button:hover{
    cursor: pointer;
}
.goal-button img{
    width: 20%;
}
.date-picker-position md-input-container{
    width: 70%;
}
.input-legend md-datepicker-toggle{
    color: white!important;
}

.goal-dialog-select-container md-select{
    width: 80%;
}
.mat-select{
    width: 100%;
}