.create-account-label-content{
    width: 100%;
    height: 20%;
}
.signup-back-button-content{
    width: 100%;
    height: 50%;
}
.signup-back-button-content button{
    margin: 5px;
} 
.signup-back-button img{
    height:30px; 
}
.signup-create-account-label-content{
    width: 100%;
    height: 50%;
}
.create-account-label-content label{
    font-size: 1.4em;
}
.create-account-form-content{
    height: 70%;
}
.create-account-form-container{
    width: 85%;
    height: 100%;
    justify-content: space-around;
}
.signup-button-container{
    width: 85%;
    height: 10%;
}
.create-account-form-container mat-form-field{
    width: 100%;
}
.create-account-button{
    background-color: var(--background-login-button);
}