<div class="create-account-label-content column">
    <div class="signup-back-button-content">
        <button mat-mini-fab class="signup-back-button fully-centralized" (click)="toggleSignupView(false)">
            <img src="../assets/img/back.svg">
        </button>
    </div>
    <div class="signup-create-account-label-content horizontally-centralized">
        <label>CRIAR UMA CONTA</label>
    </div>
</div>
<div class="create-account-form-content vertically-centralized column">
    <div class="create-account-form-container column vertically-centralized">
        <mat-form-field>
            <input matInput placeholder="Nome" required [(ngModel)]="user.name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" required [(ngModel)]="user.email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Senha" type="password" required [(ngModel)]="user.password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirmar senha" type="password" required>
        </mat-form-field>
        <div class="signup-button-container fully-centralized">
            <button mat-button class="create-account-button" (click)="createNewAccount()">CRIAR CONTA</button>
        </div>
    </div>
</div>